<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Adding Product | Shopping List</title>
</head>
<body>
<form method="post">
    <input id="productName" name="productName" placeholder="Enter the title of product">
    <input id="productCategory" name="productCategory" placeholder="Enter the category of product">
    <button id="button_add">Add product</button>
</form>
<button id="back-to-list">Return to shopping list</button>
</body>
<script src="adding-script.js"></script>
</html>