<!DOCTYPE html>
<html lang="en">
<head>
    <title>Shopping List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="main.js"></script>
</head>
<body>
    <h1>Your Shopping List</h1>
    <div id="products">
    </div>
    <button id="btn_to_add">Add new product</button>
</body>
</html>